                /* CUSTOM FONTS */
                h1, h2, h3, h4, h5, h6, .ignitiondeck.id-creatorprofile .id-creator-name, #custom-header .cta a, .krown-tabs .titles li h5, #content .memberdeck .dashboardmenu li a, .ignitiondeck .id-product-days, .ignitiondeck .id-product-days-to-go, .krown-button, .krown-pie .value, .krown-id-item li span, .id-widget .id-progress-raised, .id-widget .id-product-total, .id-widget .id-product-days, .ignitiondeck.id-mini .id-product-days, .id-level-title, #main-menu ul, .rtitle, .regular-select-cover, .comment-price {
                  /*font-family: 'Montserrat', sans-serif;*/
                  font-family: 'Droid Sans', sans-serif;
                }
                body, input, textarea, button, .memberdeck form .form-row input, .memberdeck form .form-row textarea, blockquote cite {
                  /*font-family: 'Raleway', sans-serif;*/
                  font-family: 'Cabin', sans-serif;
                }

                /* CUSTOM COLORS */
                a, .footer .widget a:hover, .footer .widget ul li.current-cat a:hover, .footer .widget ul li.current_page_item a:hover, .footer .krown-social a:hover i:before, .no-touch .krown-tabs .titles li h5:hover a, .no-touch #content .memberdeck .dashboardmenu li a:hover, .poweredbyID a:hover, #project-p-author .author-meta li, #project-p-author .author-meta a, .id-widget .icon-user:before, .md-projects-list .buttons a:hover i, .memberdeck .md-profile a i:hover, .krown-id-item .container a:hover h3, .ignitiondeck h2.id-product-title a:hover, .ignitiondeck .id-backer-links a:hover, .ignitiondeck.id-creatorprofile .id-creator-links a:hover:before, a.post-title:hover h2, a.post-title:hover h1, .share-buttons a:hover, .comment-title a:hover, .comment-reply-link:hover, .widget ul a:hover, .widget .tagcloud a:hover, .no-touch .krown-accordion h5:hover, .posts-grid a:hover h3, .krown-social li:hover:before, .no-touch .krown-tabs .titles li:hover h5, .krown-tabs .titles .opened h5, .no-touch .memberdeck .dashboardmenu li:hover a, .memberdeck .dashboardmenu li.active a, .krown-twitter a:hover, .rtitle, .print-details .table a.receipt:hover, .social-sharing-options-wrapper .friendlink .text a:hover, .memberdeck form a:hover, .memberdeck a:hover {
                        color: #f68d92;
                }
                .no-touch #top:hover, .pagination a:hover, .krown-button:hover, .krown-button.color, .krown-button.empty:hover, .fancybox-nav span:hover, .fancybox-close:hover, .fancybox-thumb span:before, input[type="submit"]:hover, .memberdeck button:hover, .memberdeck input[type="submit"]:hover, .memberdeck form .form-row input[type="submit"]:hover, .memberdeck .button:hover, .ignitiondeck form .main-btn:hover, .ignitiondeck form input[type="submit"]:hover, .ignitiondeck a.learn-more-button:hover, .ignitiondeck.idc_lightbox .form-row.submit input[type="submit"]:hover, .md-requiredlogin #wp-submit:hover, .krown-promo.color, .flex-control-nav li a.flex-active, .flexslider.krown-tour .flex-direction-nav a:hover, .tp-bullets.simplebullets.round .bullet.selected, .mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current, .mejs-overlay:hover .mejs-overlay-button {
                        background-color: #f75146;
                }
                .krown-tabs.horizontal .titles .opened {
                        border-top-color: #f75146;
                }
                .krown-team:hover {
                        border-color: #f75146;
                }
                .footer input[type="submit"], .flex-direction-nav a:hover, .tparrows.default:hover {
                        background-color: #D4362C !important;
                }
                .top-menu > li.selected > a {
                        border-bottom-color: #EF493F;
                        color: #EF493F;
                }
                .sub-menu li:hover {
                        background-color: #EF493F;
                }
                .sub-menu li:hover, .sub-menu li:hover + li {
                        border-color: #EF493F;
                }
                .top-menu li.green > a {
                        color: #f75146;
                }
                .top-menu li.green:hover > a {
                        border-bottom-color: #f75146;
                        color: #f75146;
                }

                /* CUSTOM CSS */
        .page-id-835 .krown-column-container.span3 h4:after {
            display: block;
            content: "";
            clear: left;
        }
        body {
            letter-spacing: 0.3px;
        }
        h1, h2, h3, h4, h5, h6, .ignitiondeck.id-creatorprofile .id-creator-name, #custom-header .cta a, .krown-tabs .titles li h5, #content .memberdeck .dashboardmenu li a, .ignitiondeck .id-product-days, .ignitiondeck .id-product-days-to-go, .krown-button, .krown-pie .value, .krown-id-item li span, .id-widget .id-progress-raised, .id-widget .id-product-total, .id-widget .id-product-days, .ignitiondeck.id-mini .id-product-days, .id-level-title {
            letter-spacing: 0;
        }
        @media all and (min-width: 879px) {
            .page-id-55 .krown-tabs .titles li h5 {
                padding-left: 37px !important;
                padding-right: 37px !important;
            }
        }
        @media all and (max-width: 940px) {
                .page-id-835 #custom-header, .page-id-837 #custom-header {
                        height: 440px !important;
                }
        }
        @media all and (max-width: 760px) {
                .page-id-835 #custom-header, .page-id-837 #custom-header {
                        height: 360px !important;
                }
        }
        @media all and (max-width: 579px) {
            .page-id-835 #custom-header, .page-id-837 #custom-header {
                height: 260px !important;
            }
        }
        .ignitiondeck .backer_avatar {
            position: absolute;
            display: block !important;
            left: 60px;
        }
        .ignitiondeck.backer_profile .backer_info img.avatar {
           border-radius: 0;
        }
        .memberdeck + img.avatar {
          display: none;
        }
