<header id="header" class="clearfix" style="height:80px">
    <div class=" clearfix">
        <div class="wrapper clearfix">
            <!-- Logo Start -->
            <a id="logo" href="#/" style="width:200px;">
                <img class="default" src="./img/logo-spar.png" alt="Backer">
            </a>
            <!-- Logo End -->
            <!-- Menu Start -->
            <nav id="main-menu" class="clearfix right" data-nav-text="--- Navigate ---">
                <ul id="menu-main-menu" class="clearfix top-menu">
                    <li class="parent menu-item">
                        <a href="#/">Accueil</a>
                    </li>
                    <li class="menu-item">
                        <a href="#/projects">Franchisés</a>
                    </li>
                    <li class="menu-item">
                        <a href="#/projects/new">Candidats</a>
                    </li>
                    <li class="green">
                        <a href="http://www.franchise-groupecasino.fr">Contact</a>
                    </li>
                    <li ng-show="$root.user" class="green">
                        <div class="head-avatar">
                            <img alt="" src="https://cdn1.iconfinder.com/data/icons/round-black-icons-2/78/user-512.png" class="avatar avatar-65 photo" height="65" width="65">
                            <div>{{$root.user.login}}</div>
                        </div>
                        <a href="#/logout">
                            Se déconnecter
                        </a>
                    </li>
                </ul>
                </nav>
            <!-- Menu End -->
        </div>
    </div>
</header>