<!-- Main Wrapper Start -->


<div id="content" class="clearfix layout-fixed-width">

    <div id="custom-header" class="header-below" style="height:490px">
        <div class="cta" style="width:50%">
            <div class="cta-back spar1">
            </div>
            <div class="cta-holder">
                <h2>
                    <small>Vous êtes</small>
                    <br>franchisé<br>
                    <small>avec l'âme d'un</small>
                    <br>investisseur ?
                </h2>
                <div class="cta-link">
                    <a class="krown-button custom" href="#/projects" target="_self">Investir
                        dans un projet</a>
                </div>
            </div>
        </div>
        <div class="cta" style="width:50%">
            <div class="cta-back spar2"></div>
            <div class="cta-holder">
                <h2><small>Vous souhaitez</small><br>devenir franchisé<br><small>et cherchez un</small><br>financement ?</h2>
                <div class="cta-link">
                    <a class="krown-button custom" href="#/projects/new" target="_self">Financer l'ouverture de votre
                        franchise</a>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix wrapper">
        <div class="normal-content no-boxed">


            <!--  PROJETS PHARES / DERNIERS PROJETS SOUMIS  -->

            <div class="krown-tabs fade clearfix">
                <ul class="titles clearfix autop">
                    <li class="opened">
                        <h5>Derniers projets soumis</h5>
                    </li>
<!--                    <li class="">
                        <h5>Derniers projets soumis</h5>
                    </li>-->
                </ul>
                <div class="contents clearfix autop">
                    <div style="display: block;">
                        <div class="sidebar-content no-boxed">
                            <div class="krown-id-grid default clearfix" id="ign-9739" style="position: relative;">
                                <div ng-repeat="project in projects | reverse">
                                        <ng-include src="'partials/projects/project-thumbnail.html'"></ng-include>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="krown-column-row clearfix">
                <div class="krown-column-container clearfix first last span12 kill-space clearfix">
                    <p style="text-align: center;">
                        <span class="extreme">Vous êtes <strong>franchisé</strong> du réseau SPAR et souhaitez <br><strong>investir</strong> dans de nouveaux projets porteurs ?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <a class="krown-button large color" href="#/projects">Voir tous les projets</a>
                    </p>
                </div>
            </div>
        </div>


        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
</div>






<div id="responsive-test">
    <div id="p780">

    </div>
    <div id="p580">

    </div>
    <div>

    </div>
</div>