<div id="content" class="clearfix layout-">


    <div class="clearfix wrapper">

        <header id="page-title"><h1 class="title">Authentification</h1></header>

        <div class="normal-content ">

            <div class="md-requiredlogin login">
                <h3>Ce contenu nécessite une authentification.</h3>

                <p>Vous êtes franchisé du réseau SPAR ou candidat à l'ouverture d'une franchise ? Merci de saisir les identifiants qui vous ont été communiqués.</p>

                <form ng-submit="submit()">

                    <p class="login-username">
                        <label for="user_login">Identifiant</label>
                        <input type="text" id="user_login" class="input" ng-model="user.login" size="20" required="required">
                    </p>

                    <p class="login-password">
                        <label for="user_pass">Mot de passe</label>
                        <input type="password" id="user_pass" class="input" value="[ce que vous voulez]" size="20">
                    </p>

                    <p class="login-remember">
                        <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Se souvenir de moi</label></p>

                    <p class="login-submit">
                        <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Se connecter">
                    </p>

                </form>
                <p><a class="lostpassword" href="#" onclick="">Mot de passe oublié ?</a></p>
            </div>


        </div>


        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
</div>