<div id="content" class="clearfix layout-">


    <div class="clearfix wrapper">

        <header id="page-title"><h1 class="title">Décrivez votre projet de franchise SPAR</h1></header>

        <div class="normal-content ">


            <div class="md-requiredlogin login memberdeck">
                <!--<p>dolor amet.</p>-->
                <form ng-submit="submit()">                    
                    <div class="form-row twothird">
                        <label for="title">Titre de mon projet</label>
                        <input type="text" ng-model="project.title" required="required" placeholder="Ex : Projet d'ouverture SPAR à Saint-Etienne Les Halles" id="title">
                    </div>
                    <h3>Porteur de projet</h3>
                    <div class="form-row third">
                        <label for="firstname">Prénom</label>
                        <input type="text" ng-model="project.firstname" id="firstname" placeholder="Jean">
                    </div>
                    <div class="form-row third">
                        <label for="surname">Nom de Famille</label>
                        <input type="text" ng-model="project.surname" id="surname" placeholder="Dupont">
                    </div>
                    <div class="form-row third">
                        <label for="age">Âge</label>
                        <input type="number" min="18" ng-model="project.age" id="age">
                    </div>
                    <div class="form-row third">
                        <label for="cv">Curriculum Vitae du porteur de projet</label>
                        <input type="file" ng-model="project.cv" id="cv">
                    </div>
                    <h3>Le projet à financer</h3>
                    <div class="form-row third">
                        <label for="amount">Montant envisagé</label>
                        <input type="number" step="5000" min="10000" min="1000000" ng-model="project.amount" id="amount">
                    </div>
                    <div class="form-row third">
                        <label for="deadline">Date de clôture</label>
                        <input type="date" ng-model="project.deadline" required="required" id="deadline">
                    </div>
                    <div class="form-row twothird">
                        <label for="description">Description de mon projet</label>
                        <textarea ng-model="project.description" id="description" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus ultricies nulla id facilisis. Nunc iaculis, elit eget volutpat consequat, elit ipsum porttitor augue, vitae interdum eros elit quis orci. Mauris sagittis, ipsum at fringilla dignissim, metus mauris fermentum nisl, id commodo ligula mauris vel ex. Sed quis neque sit amet nisi consequat viverra. Aliquam erat volutpat. Morbi blandit bibendum lorem, ullamcorper elementum libero malesuada et. Nullam mattis nunc vel nulla sollicitudin luctus. Fusce vel pharetra enim, et sagittis augue. Proin nec vehicula augue. Donec sagittis suscipit sapien ac cursus. Ut placerat tellus vel eros elementum condimentum. Vestibulum nec ligula nisi."></textarea>
                    </div>
                    <div class="form-row twothird">
                        <label for="address">Emplacement [adresse de la future enseigne SPAR]</label>
                        <textarea ng-model="project.address" required="required" id="address" placeholder="Ex : 1 Espl. de France, 42008 Saint-Étienne"></textarea>
                        <!--<textarea onchange="angular.element(this).scope().fileNameChanged()" ng-model="project.address" id="address"></textarea>-->
                        <input id="addressurl" type="hidden" value="">
                    </div>
                    <br>
                    <div class="form-row third">
                        <input type="submit" class="button-primary" value="Valider mon projet">
                    </div>
                </form>
            </div>


        </div>


        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
</div>