<div id="content" class="clearfix ">


    <div class="clearfix wrapper">

        <header id="page-title" style="padding-top: 0px;">
            <h1 class="title">{{ project.title}}</h1>
            <a class="krown-button medium color" href="#/projects/{{ project.id}}/edit" ng-show="$root.user.login == 'projectMaker'">[Modifier]</a>
        </header>

        <div class="normal-content ">


            <div id="project-container" class="krown-tabs responsive-on clearfix">

                <ul class="titles clearfix">
                    <li class="opened">
                        <h5>Description du projet</h5>
                    </li>
                    <li>
                        <h5>Commentaires</h5>
                    </li>
                    <li>
                        <h5>Curriculum Vitae</h5>
                    </li>
                    <div class="tabs-select">
                    <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 164px;">
                    <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 164px;">
                    <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                        <option>Description</option>
                        <option>Commentaires</option>
                    </select>
                    <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description</span>
                </span>
                    <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description</span>
                </span>
                    </div>
                    <div class="tabs-select">
                    <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 164px;">
                    <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                        <option>Description du projet</option>
                        <option>Commentaires</option>
                    </select>
                    <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description du projet</span>
                </span>
                    </div>
                </ul>

                <div class="contents clearfix">

                    <div id="description" style="display: block;">

                        <div class="project-header">


                            <div class="mini">
                                <ul class="slides">

                                    <!--                                        <li class="slide">
                                                                                <img src="./backer02_files/3-845x573.jpg" width="845" height="573" alt="">
                                                                            </li>-->
                                </ul>
                            </div>


                        </div>

                        <div class="project-content">
                            <aside class="project-map">
                                <figure class="img"><img src="{{ project.addressurl}}" width="255" height="173"></figure>
                            </aside>
                                    
                            
                            <aside class="share-buttons clearfix">
                                <p>Projet porté par <strong>{{ project.firstname}} {{ project.surname}}</strong></p>
                            </aside>
<!--                            <p>
                                <span class="large">Lorem ipsum.</span>
                            </p>-->
                            <h3>Descriptif du projet</h3>
                            <p>{{ project.description}}</p>
                        </div>

                    </div>


                    <div id="comments" class="project-content">

                    </div>


                </div>


                <aside id="project-sidebar" style="padding-bottom: 0px; height: auto;">
                    <div class="pie-chart-container-container">
                        <div class="pie-chart-container">
                            <pie-chart data="data" options="options"></pie-chart>
                        </div>
                    </div>
                    <div class="id-widget-wrap nofloat">
                        <div class="id-widget id-full" data-projectid="7">
                            <div class="id-product-infobox">
                                <div class="panel clearfix">
                                    
                                    <div class="product-wrapper clearfix">

                                        <!-- end pledge -->

                                        <div class="clearing">

                                        </div>
                                        <div class="rholder">
                                            <div class="rpdata">
                                                <div class="id-progress-raised">{{ project.investment | thousands }} €</div>
                                                <div class="id-product-funding">réunis sur {{ project.amount | thousands }} € nécessaires</div>

                                            </div>
                                            <div class="rpdata">
                                                <div class="id-product-total">{{ project.investmentNb}}</div>
                                                <div class="id-product-pledges">investisseurs</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-wrapper clearfix">
                                        <a class="krown-button medium color" ng-click="showInvestForm = true" ng-show="!showInvestForm && $root.user.login == 'projectInvestor'" href="javascript:void(0)">INVESTIR</a>

                                        <form ng-submit="invest()" ng-show="showInvestForm">
                                            <p>
                                                <label for="investment">Montant</label>
                                                <input type="number" step="1000" ng-model="investment" id="investment">
                                            </p>

                                            <p>
                                                <input type="submit" class="button-primary" value="INVESTIR">
                                            </p>
                                        </form>
                                    </div>
                                    <div class="id-product-proposed-end">Clôture le
                                        <div class="id-widget-date">
                                            {{ project.deadline |  date : 'dd/MM/yyyy' }}
                                        </div>
                                    </div>
                                    <div class="btn-container" style="display: block;">
                                    </div>
                                </div>

                                <!-- end product-wrapper -->


                                <div class="separator">&nbsp;
                                    <div id="project-p-author" class="panel clearfix">

                                        <div class="comment-avatar">
                                            <img alt="" src="https://cdn1.iconfinder.com/data/icons/round-black-icons-2/78/user-512.png" class="avatar avatar-65 photo" height="65" width="65">
                                        </div>

                                        <div class="comment-content">

                                            <span>Porté par</span>

                                            <h6>{{ project.firstname}} {{ project.surname}}</h6>

                                            <ul class="author-meta">
                                                <li>
                                                    <a href="#">Curriculum Vitae</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end product-infobox -->
                        </div>
                        <!-- end id-widget -->
                    </div>
                    <!--if show author -->


                </aside>

            </div>


        </div>


        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
</div>