<article class="krown-id-item" style="left: 0px;">
    <a class="fancybox-thumb" href="#/projects/{{ project.id}}">
        <figure class="img">
            <img src="{{ project.addressurl}}" width="255" height="173"></figure>
        <span></span>
    </a>

    
    <div class="container">
        <a href="#/projects/{{ project.id}}"><h3 class="title">{{ project.title }}</h3></a>

        <div class="cats">{{ project.address}}</div>
        <section class="content">
            <p>{{project.description | cut:true:20:' ...'}}</p>
        </section>
        <aside class="meta">
            <div class="pie-chart-container-container">
                <div class="pie-chart-container-small">
                    <pie-chart data="project.chartData" options="options"></pie-chart>
                </div>
            </div>
            <!--<div class="krown-pie small" data-color="#6fb670">-->
            <!--<div class="holder">-->
            <!--<span class="value" data-percent="105">105<sup>%</sup></span>-->

            <!--<div class="pie-holder">-->
            <!--<canvas class="pie-canvas" width="122" height="122"></canvas>-->
            <!--</div>-->
            <!--</div>-->
            </div>
            <ul>
                <li><span>{{ project.investment | thousands }} €</span> réunis</li>
                <li><span>{{ project.deadline | dateDiff }}</span> jours avant la clôture</li>
            </ul>
        </aside>
    </div>
</article>