<div id="content" class="clearfix layout- ng-scope">


    <div class="clearfix wrapper">


        <header id="page-title"><h1 class="title">Projets de franchise en attente de financement</h1>

            <h2 class="subtitle">Parcourir les projets</h2></header>

        <div class="sidebar-content no-boxed">


            <div class="krown-id-grid default clearfix" id="ign-9739" style="position: relative;">

                <div ng-repeat="project in projects track by $index">
                    <ng-include src="'partials/projects/project-thumbnail.html'"></ng-include>
                </div>
            </div>


        </div>

        <aside id="sidebar">
            <section id="search-widget-3" class="widget search clearfix"><h4 class="widget-title">Rechercher</h4>

                <form role="search" method="get" id="searchform" class="hover-show" action="">
                    <label class="screen-reader-text hidden" for="s">Search for:</label>
                    <input type="search" value="" name="s" id="s" placeholder="Parmi les projets...">
                    <input type="hidden" name="post_type" value="ignition_product">
                    <input id="submit_s" type="submit">
                </form>
            </section>
            <section class="widget categories clearfix"><h4 class="widget-title">Trier les projets</h4>
                <ul class="categories">
                    <li class="cat-item">
                        <a href="#" title="Par montant">Par montant à financer</a>
                    </li>
                    <li class="cat-item">
                        <a href="#" title="Par date de clôture">Par date de clôture</a>
                    </li>
                    <li class="cat-item">
                        <a href="#" title="Par géographie">Par géographie</a>
                    </li>
                    <li class="cat-item">
                        <a href="#" title="Par popularité">Par popularité</a>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- Inner Wrapper End -->
    </div>
</div>